@media screen and (min-width: 375px) and (max-width: 667px) {
  /* Styles for tablets in landscape mode */


  .main {
    background-image: url("./Assects/images/herobg.jpg");
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: max(1300px, 100vw);

    position: relative;
}
nav {
    width:97vw;
    position: absolute;
    top: 0px;
    z-index: 999;
    display:flex;
  justify-content:space-evenly;
    height: 10vh;
    align-items: center;
    /* padding: 10px; */
   
}
nav img{
    width: 160px;
    margin-left: -33px;
}
nav button{
 margin-left: 104px;
    width: 110px;
    height: 40px;
    border: none;
    background-color: var(--bgcolour);
    color: white;
    border-radius: 12px;
    cursor: pointer;
}
.hero h1 {
    font-size: 32px;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    line-height: 40px;
    text-align: center;

}
.responsive-br {
    display: none;
  }
.hero p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
text-align: center;
    font-style: normal;

}

.hero h3 {
    font-size: 16px;
    font-weight: 400;
    /* line-height: 20px; */
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
.search {
    margin-top: 5px;
    display:block;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 999;
    width: 400px;
    height: 80px;
  
   
    

}
/* Container */
.field {
    position: relative;
    margin: 1.25rem 0;
    font-family: system-ui, sans-serif;
    width: 400px;
    height: 56px;
    margin-left: -12px;
}

/* Inputs */
.field input {
    width: 100%;
    padding: 1rem 0.5rem 0.25rem;
    /* top padding leaves room for floating label */
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.473);
    outline: none;
    box-sizing: border-box;
    height: 55px;
}

/* Label sits over the input */
.field label {
    position: absolute;
    left: 0.6rem;
    top: 1rem;
    /* aligns with input text baseline */
    pointer-events: none;
    /* clicks go to the input */
    transition: transform 180ms ease, font-size 180ms ease, top 180ms ease, color 180ms;
    transform-origin: left top;
    color: #ffffff;
    font-size: 1rem;
}

.search button {
    width: 190.337px;
    height: 50px;
    font-weight:500;
    font-size: 24px;
  font-family: "Ubuntu", sans-serif;
    background-color: var(--bgcolour);
    border-radius: 5px;
    border: 0.800px;
    cursor: pointer;
    margin-top: 7px;
    /* font-family:  "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;  */
color: white;
display: flex;
justify-content: center;
align-items: center;
margin-left: 100px;
}


    .cardd{
        flex-wrap: wrap;
    }

}
